.tableau
{
    margin: auto;
    margin-right: auto;
    width: 500px;
}

body
{
    
    color: aliceblue;
}

.aligner
{
    text-align: center;
}

.taille
{
    width: 150px;
}

.etoile
{
    color: crimson;
}

html
{
    font-size: large;
    background-image: url("../img/EMNC.png");
}

table
{
    border-radius: 20px;
    background-color: aliceblue;
}
