.tableau
{
    margin: auto;
    margin-right: auto;
    width: 500px;
    
}

body
{
    
    color: black;
}

.aligner
{
    text-align: center;
}

.taille
{
    width: 175px;
}

.etoile
{
    color: crimson;
}

html
{
    font-size: large;
    background-image: url("../img/EMNC.png");
}

table
{
    border-radius: 20px;
    background-color: azure;
    border: 2px solid;
    border-color:orange
}

label{
    position: relative;
    left: 10px;
}
